<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

  <title>PerBot - Your Therapy Cat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="image-wrapper">
      <img src="{{ url_for('static', filename='images/cb3.gif') }}" alt="Therapy Cat GIF" class="cat-gif">
    </div>
    <h1>Meet Oscar Your Therapy Specialist Cat!</h1>
    <p class="subtext">Feeling something? Our cat is here to listen!</p>
    <a href="/chat" class="chat-button">Analyze</a>
    <a href="/therapist" class="chat-button">Let's Chat!</a>
  </div>
</body>
</html>
